@import url("https://fonts.googleapis.com/css?family=Inter:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Cousine&display=swap");

:root {
	--main-bg-color: #f8f8f8;
	--soft-border-color: #ccc;
	--main-text-color: #2d3436;
	--secondary-color: #0984e3;
}
html {
	background-color: var(--main-bg-color);
}
body {
	max-width: 1200px;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--main-text-color);
}

.intro {
	padding: 120px 10px 10px;
}

.intro .time-of-day {
	position: absolute;
	top: 40px;
	right: 40px;
	padding: 8px 16px 6px;
	font-size: 48px;
	font-weight: 400;
	font-family: "Cousine";
	background-color: var(--main-text-color);
	color: #fff;
	border-radius: 2px;
}

.intro h1 {
	position: relative;
	margin-bottom: 0;
	font-size: 64px;
	font-weight: 800;
}

.intro p {
	margin-bottom: 80px;
	max-width: 80%;
	font-size: 28px;
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: .08em;
}

h2 {
	margin-top: 0;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 48px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.columns {
	display: flex;
}

.column {
	flex: 1;
	padding: 40px 20px 0;
}

.prediction {
	position: relative;
	padding: 20px;
	margin-bottom: 40px;
	border: 1px solid var(--soft-border-color);
	border-radius: 2px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 rgba(0,18,71,.16);
}

.prediction p {
	margin: 0;
}

.prediction-route {
	position: absolute;
	top: 50%;
	width: 96px;
	height: 96px;
	line-height: 96px;
	font-size: 64px;
	font-weight: 600;
	text-align: center;
	color: #fff;
	background-color: var(--secondary-color);
	border-radius: 50%;
	transform: translateY(-50%);
}

.prediction-time {
	margin-bottom: 16px;
	padding-left: 120px;
	font-size: 48px;
	font-weight: 600;
}

.prediction-vehicle {
	padding-left: 120px;
	font-size: 32px;
	color: var(--secondary-color);
}

.refresh-timer-container {
	margin: 0 10px 20px;
	background-color: #ccc;
}

.refresh-timer {
	background-color: var(--secondary-color);
	height: 10px;
	width: 100%;
	transform-origin: left center;
	animation: 10s scaleRight linear;
}

@keyframes scaleRight {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
