html {
	background-color: #fefad4;
}
body {
	color: #765d69;
}
h1,
h2,
h3 {
	color: #765d69;
}
.intro h1 {
	margin-bottom: 0;
}

.intro p {
	max-width: 540px;
}

h2 {
	margin-top: 0;
	font-weight: 300;
}

.intro {
	padding: 30px 10px 30px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.columns {
	display: flex;
}

.column {
	flex: 1;
	padding: 0 10px;
}

.prediction {
	position: relative;
	padding: 20px;
	margin-bottom: 10px;
	border: 1px solid #8fb9a8;
	border-radius: 2px;
}
.prediction p {
	margin: 0;
}

.prediction-route {
	position: absolute;
	top: 50%;
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color: #8fb9a8;
	border: 1px solid #8fb9a8;
	border-radius: 50%;
	transform: translateY(-50%);
}

.prediction-time {
	margin-bottom: 16px;
	padding-left: 80px;
	font-size: 28px;
}

.prediction-vehicle {
	padding-left: 80px;
	font-size: 16px;
	color: #aaa;
}
