@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

:root {
	--main-bg-color: #f8f8f8;
	--main-text-color: #2d3436;
	--secondary-color: #0984e3;
}
html {
	background-color: var(--main-bg-color);
}
body {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--main-text-color);
}

.intro {
}

.intro h1 {
	margin-bottom: 0;
}

.intro p {
	max-width: 560px;
}

h2 {
	margin-top: 0;
	font-weight: 300;
}

.intro {
	padding: 30px 10px 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.columns {
	display: flex;
}

.column {
	flex: 1;
	padding: 0 10px;
}

.prediction {
	position: relative;
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #fff;
}

.prediction p {
	margin: 0;
}

.prediction-route {
	position: absolute;
	top: 50%;
	width: 64px;
	height: 64px;
	line-height: 64px;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	border-radius: 50%;
	transform: translateY(-50%);
}

.prediction-time {
	margin-bottom: 16px;
	padding-left: 80px;
	font-size: 28px;
}

.prediction-vehicle {
	padding-left: 80px;
	font-size: 16px;
	color: var(--secondary-color);
}

.refresh-timer-container {
	margin: 0 10px 20px;
	background-color: #ccc;
}

.refresh-timer {
	background-color: var(--secondary-color);
	height: 4px;
	width: 100%;
	transform-origin: left center;
	animation: 10s scaleRight linear;
}

@keyframes scaleRight {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
